.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 9px 50px;
    
  }
  
  .header_menu_list {
    width: 400px;
    height: 22px;
    display:flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    list-style: circle;
    margin: 44px 36px 41px 26px;
  }

  .header_menu_element_line {
    text-decoration:underline;
  }
  .header_menu_element_no_bullet {
    list-style: none;
    text-decoration: none;
  }
  .header_top_logo {
    display: block;
    width: 148px;
    height: 105px;
    
  }
  
  .address {
    text-underline-position: under;
    text-align: left;
    place-content: center;
  }
  
  .header_address {
    justify-self: end;
    text-decoration:none;
  }
  .address_element{
    text-decoration:underline;
  }
  .address_element_line {
    text-decoration: none;
  }